:root {
  --main-bg-color: #CACACA;
  --main-font-family: 'Times New Roman', Times, serif;
  --primary-color: #2C3E50;
  --secondary-color: #E74C3C;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  padding: 3px;
}

.navbar-collapse,
.navbar-nav,
.dropdown-menu {
  background-color: var(--main-bg-color);
}

.navbar-nav {
  flex: 1 0 auto;
}

ul .dropdown-menu {
  max-height: 200px;
  overflow-y: auto;
}

.navbar-brand {
  background-color: var(--main-bg-color);
  font-weight: 700;
  font-family: var(--main-font-family);
  flex: 0 0 auto;
  margin-right: auto;
  color: black;
  padding-left: 20px;
}

.navbar-toggler {
  background-color: var(--main-bg-color);
}

.navbar-nav li a,
.navbar-nav li a:hover {
  color: black; 
}

body {
  background-color: #c3c8e4;
  font-family: var(--main-font-family);
}

.container-fluid {
  background-color: var(--main-bg-color);
  font-size: 3em;
  border: 1px solid black;
}

.site-footer {
  padding: 10px 0;
  background-color: var(--primary-color);
  color: white;
  text-align: center;
}

.site-footer a {
  color: var(--secondary-color);
}

@media (max-width : 576px) {
  body {
    padding-top: 20%;
  }

  h1, h2, p {
    font-size: 1.2rem;
  }

  .nav-link {
    font-size: 1rem;
  }
  
  .navbar-nav {
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .navbar-nav .nav-item {
    flex-grow: 1;
    text-align: center;
    width: 100%;
  }

  .navbar-nav .nav-link.dropdown-toggle {
    font-size: 1rem;  /* Adjust this value as needed */
  }

  .dropdown-item {
    font-size: 1.1rem;
    text-align: center;
  }

  .large-text {
    font-size: 1rem;
    padding-top: 1%;
  }
}

@media (min-width : 1024px) {
  p {
    font-size: 1vw;
  }

  body {
    padding-top: 4vw;
  }

  .nav-link,
  .dropdown-item {
    font-size: 1.1rem;
    text-align: center;
  }

  .navbar {
    display: flex;
    align-items: center;
  }

  .navbar-nav {
    padding-left: 30px;
  }
}

@keyframes animate-color {
  0% {
    color: red;
  }
  50% {
    color: blue;
  }
  100% {
    color: red;
  }
}

.autocomplete-results {
    position: absolute;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #fff;
    z-index: 1000;  /* To ensure the dropdown appears on top of other elements */
}

.autocomplete-item {
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.autocomplete-item:hover {
    background-color: #f5f5f5;
}

/* Search Box Styles */
#search-box {
    flex-grow: 1;
    margin-right: 50px;
}

/* Typeahead Dropdown Styles */
.typeahead-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: var(--main-bg-color);
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
}

.typeahead-dropdown > a {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.typeahead-dropdown > a:hover {
    background-color: var(--secondary-color);
    color: white;
}
